openapi: 3.0.3
info:
  title: State Farm Insurance Companies Renters Coverage API
  description: The State Farm Renters Insurance API enables partner platforms including property management companies, real estate applications, multifamily housing operators, and insurance aggregators to embed State Farm renters insurance quoting and policy issuance directly into their tenant onboarding workflows. State Farm is the number one writer of renters insurance in the United States. This API supports quote requests, coverage selection, policy binding, and policy status retrieval. Renters insurance through State Farm covers personal belongings, liability protection, and additional living expenses. Available in all US states except California, Massachusetts, and Rhode Island.
  version: 1.0.0
  contact:
    name: State Farm Partner Gateway
    url: https://developer.statefarm.com
  termsOfService: https://www.statefarm.com/customer-care/legal-disclaimer
  license:
    name: Proprietary
    url: https://developer.statefarm.com/faq
servers:
- url: https://api.statefarm.com/v1
  description: State Farm API Production
security:
- OAuth2:
  - renters:quote
  - renters:policy:read
  - renters:policy:write
tags:
- name: Coverage
  description: Coverage options and details
paths:
  /renters/coverage-options:
    get:
      operationId: listCoverageOptions
      summary: List Coverage Options
      description: Retrieve available renters insurance coverage options and limits available through State Farm, including personal property coverage amounts, liability limits, deductible options, and optional add-on coverages.
      tags:
      - Coverage
      parameters:
      - name: state
        in: query
        description: Two-letter US state code to get state-specific coverage options
        required: false
        schema:
          type: string
          pattern: ^[A-Z]{2}$
          example: IL
      responses:
        '200':
          description: Available coverage options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverageOptionsResponse'
components:
  schemas:
    CoverageOptionsResponse:
      type: object
      description: Available coverage options and limits
      properties:
        personalPropertyLimits:
          type: array
          description: Available personal property coverage amounts in USD
          items:
            type: integer
          example:
          - 15000
          - 25000
          - 50000
          - 75000
          - 100000
        liabilityLimits:
          type: array
          description: Available liability coverage limits in USD
          items:
            type: integer
          example:
          - 100000
          - 300000
          - 500000
        deductibleOptions:
          type: array
          description: Available deductible amounts in USD
          items:
            type: integer
          example:
          - 500
          - 1000
          - 2000
        optionalCoverages:
          type: array
          description: Optional add-on coverages available
          items:
            type: object
            properties:
              code:
                type: string
                example: IDENTITY_RESTORATION
              name:
                type: string
                example: Identity Restoration Coverage
              description:
                type: string
                example: Coverage for identity theft restoration expenses
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.statefarm.com/oauth/token
          scopes:
            renters:quote: Create and retrieve renters insurance quotes
            renters:policy:read: Read renters insurance policy details
            renters:policy:write: Bind and manage renters insurance policies
